
    .header{
        height: 105px;
        &__{
            &page-wrapper{
                @include  page-block__container();
                display: grid;
                padding-top: 24px;
                grid-template-rows: 50px;
                grid-template-columns: 330px repeat(2, 236px) 1fr;
            }
            &item{
                display: grid;
                align-items: center;
                grid-template-rows: 1fr;
                grid-column-gap: 8px;
                justify-items: end;
                grid-template-columns: 45px 1fr;
            }
            &title{
                font-size: 18px;
                line-height: 23.29px;
                font-family: $fontSansRegular;
                font-weight: 400;
                align-items: center;
                justify-self: start;
                display: inline-block;
                margin: 0;
                color: $whiteText;
                &--bold{
                    font-size: 24px;
                    font-weight: 700;
                    font-family: $fontSansBold;
                }
            }   
            &img{
                height: 37px;
            }
            &logo.logo{
                display: grid;
                grid-column-gap: 14px;
                align-items: center;
                grid-template-columns: 44px 1fr;
            }
        }
           
        .logo{
            &__{
                &title__img{
                    width: 200px;
                    height: 44px;
                }
                &img{
                    width: 45px;
                    height: 50px;
                }
            }
        }
    }