<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="favicon/favicon.ico">
  <link rel="stylesheet" href="css/style.bundle.css">

  <title>
    <%=data.title%>
  </title>
</head>
<div class="main-page__container">
    <div class="fire-bckg">
      <%= _.template(require('./../includes/header.html'))(data) %>
      <%= _.template(require('./../includes/index/block_1.html'))() %>
    </div>
    <%= _.template(require('./../includes/index/block_2.html'))() %>
    <%= _.template(require('./../includes/index/block_3.html'))() %>
    <%= _.template(require('./../includes/index/block_4.html'))() %>
    <%= _.template(require('./../includes/index/block_5.html'))() %>
  </div>

<%= _.template(require('./../includes/footer.html'))(data) %>