$fontSansBold: "PT Sans - Bold", sans-serif;
$fontSansRegular: "PT Sans - Regular", sans-serif;
$fontRobotoCondense: "Roboto Condensed", sans-serif;
$fontRoboto: "Roboto", sans-serif;
$fontSansNarrow: "PT Sans - Narrow", sans-serif;
$fontSansNarrowBold: "PT Sans - Narrow Bold", sans-serif;

$black: #000;
$whiteText: #ededed;
$white: #fff;
$orangeText: #fd6b35;
$yellowText: #ffd50c;
$timerBckgColor: #f6f6f6;