<section class="block-5">
  <div class="block-wrapper">
    <div class="container">
      <h1 class="main-title">
        Мнение <strong class="main-title--orange">врача</strong>
      </h1>
      <div class="text__container">
        <p class="text__item">
          50% мужчин до 35 лет имеют проблемы с эрекцией. Поэтому при первых же
          признаках необходимо брать быка за рога и решать проблему.
        </p>
        <p class="text__item">
          Я своим пациентам советую пантовые орешки Пантомакс, это натуральный
          препарат, который отлично влияет не только на потенцию, но и на весь
          организм.
        </p>
        <p class="text__item">
          При приеме Пантомакс у мужчины нормализуется работа сосудов и
          повышается потенция. Одним из действий препарата также является
          улучшение психоэмоциональной составляющей сексуальной жизни. Препарат
          поможет поддержать эрекцию во время всего полового акта. При этом
          эффект пантовых орешков не зависит от времени их приема.
        </p>
      </div>
      <div class="signature__container">
        <div class="text__name">Ильнур Мухазин, врач-андролог, к.м.н.</div>
        <img src="img/signature.png" alt="signature" class="signature" />
      </div>
    </div>
  </div>
</section>
