<section class="block-4">
  <div class="block-wrapper">
    <h1 class="main-title">
      <strong class="main-title--strong">Преимущества</strong> пантовых
      орешек<strong class="main-title--strong"> Panto</strong
      ><strong class="main-title--orange main-title--strong">MAX </strong>
    </h1>
    <div class="list__container__background">
      <ul class="list__container">
        <li class="item__container">
          <img src="img/block_4-item-1.png" alt="item" class="item__img" />
          <span class="item__text">Дарит яркие<br/> оргазмы</span>
        </li>
        <li class="item__container">
          <img src="img/block_4-item-2.png" alt="item" class="item__img" />
          <span class="item__text">Нормализует<br /> гормональный фон</span>
        </li>
        <li class="item__container">
          <img src="img/block_4-item-3.png" alt="item" class="item__img" />
          <span class="item__text">Избавляет от эректильной<br /> дисфункции</span>
        </li>
        <li class="item__container">
          <img src="img/block_4-item-4.png" alt="item" class="item__img" />
          <span class="item__text item__text--min">Улучшает<br /> кровообращение<br /> в организме</span>
        </li>
        <li class="item__container">
          <img src="img/block_4-item-5.png" alt="item" class="item__img" />
          <span class="item__text">Повышает тонус<br /> и жизненные силы</span>
        </li>
        <li class="item__container">
          <img src="img/block_4-item-6.png" alt="item" class="item__img" />
          <span class="item__text">Регулирует либидо<br /> и желание</span>
        </li>
      </ul>
    </div>
  </div>
</section>
