<section class="block-1 block-wrapper">
    <h1 class="main-title">Сколько раз за ночь ты можешь?</h1>
    <div class="columns">
      <div class="column">
        <h2 class="column__title">
          Пантомакс – каменный стояк для неприличных рекордов
        </h2>
        <ul class="column__list">
          <li class="item">
            <div class="item__img--checkbox"></div>
            <span class="item__text">Мощная эрекция и потенция</span>
          </li>
          <li class="item">
            <div class="item__img--checkbox"></div>
            <span class="item__text">Занимайся сексом сколько хочешь</span>
          </li>
          <li class="item">
            <div class="item__img--checkbox"></div>
            <span class="item__text">Получай космические оргазмы</span>
          </li>
          <li class="item">
            <div class="item__img--checkbox"></div>
            <span class="item__text">Гарантированный стояк
            до 3-х часов</span>
          </li>
        </ul>
        <div class="column__product-image">
            <img src="img/block1-product.png" alt="product" class="product__img">
        </div>
      </div>
    <div class="column column__percentage">
        <img src="img/50percentage.png" alt="50%" class="column__img--percentage">
        <p class="column__text">Ваша потенция вернется через 21 день
        применения! Проверьте сами</p>
    </div>
    <div class="column">
        <div class="timer">
            <div class="timer__clock">
                <div class="timer__item deactivate">0</div>
                <div class="timer__item">1</div>
                <div class="timer__item">0</div>
            </div>
            <p class="timer__title">
                * Всего упаковок
                &nbsp; по акции
            </p>
        </div>
        <div class="feedback__form__wrapper">
          <div class="header__form">
            <div class="old-price">
              <div class="price">
                <p class="price-title">Полная цена</p>
                <p class="price-text__wrapper">
                  <span class="price-text">1980</span>
                  <sub class="price-sub">руб</sub>
                </p>
              </div>
            </div>
            <div class="new-price">
              <div class="price">
                <p class="price-title">Цена со скидкой</p>
                <p class="price-text__wrapper">
                  <span class="price-text">990</span>
                  <sub class="price-sub">руб</sub>
                </p>
              </div>
            </div>
          </div>
          <form class="feedback__form">
            <div class="input__name__wrapper">
              <input type="text" class="input__name" placeholder="Введите ваше имя" />
            </div>
            <div class="input__phone__wrapper">
              <input type="text" class="input__phone" placeholder="Введите номер телефона"/>
            </div>
            <button type="button" class="order-now__button">
              <div class="order-now__arrow"></div>
              <span class="order-now__text">Заказать сейчас</span>
            </button>
          </form>
          <div class="footer__form">
            <i class="footer__form__icon"></i>
            <span class="footer__form__text">Ваши данные под защитой SecureTECH</span>
          </div>
        </div>
    </div>
  </div>
</section>
